version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9
  aws-cli: circleci/aws-cli@4

workflows:
  build-and-push:
    jobs:
      - aws-ecr/build_and_push_image:
          name: 'Build and push image'
          auth:
            - aws-cli/setup:
                role_arn: $CIRCLECI_OIDC_ROLE
          account_id: $AWS_ECR_REGISTRY_ID
          repo_tag: '[{"Key": "Application", "Value": "$CIRCLE_PROJECT_REPONAME"},{"Key": "Team", "Value": "Platform"}]'
          lifecycle_policy_path: lifecycle-policy.json
          tag: $CIRCLE_BRANCH-$CIRCLE_SHA1,$CIRCLE_SHA1,$CIRCLE_BRANCH-${CIRCLE_SHA1:0:7},$CIRCLE_BRANCH
          repo: $CIRCLE_PROJECT_REPONAME
          create_repo: true
          set_repo_policy: true
          repo_policy_path: repo-policy.json
          context: infra-public
